/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2018, 10:45:39 PM
    Author     : mateus
*/

img {
    max-width: 100%;
}

footer {
    text-align: center;
}
