/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2018, 10:45:39 PM
    Author     : mateus
*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');

img {
    max-width: 100%;
}
.image-popup img {
    transform: scale(0.9);
}
.image-popup img:hover {
    transform: scale(1);
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close:hover {
    cursor: pointer;
}

header .logo {
    max-width: 200px;
}

.fab {
    color: #FFF;
}

header, footer {
    background-color: #000;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
}

h1, h2, h3 {
    font-family: Satisfy;
    text-align: center;
}

.image-popup {
    display: flex;
    align-items: center;
    justify-items: center;
}

.image-popup {
}

.image-popup .signo {
    display: none;
}

.image-popup:hover .signo {
    display: block;
}
