@charset "utf-8";

* {
    margin:0;
    padding:0;
}

body {
    font-size: 12px;
    font-family: 'times new roman', 'serif';
}

.container {
    margin: 0 2rem;
}

p {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

