@charset "utf-8";

* {
    margin:0;
    padding:0;
}

body, html, .filter {
    min-height: 100%;
}

body {
    font-size: 12px;
    font-family: 'times new roman', 'serif';
}

.container {
    margin: 0 3rem;
}

h2, h1, h3 {
    margin-top: 1rem;
    text-transform: uppercase;
}

a {
    font-family: arial;
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
}
a:hover {
    color: #007dc6;
}

footer {
    text-align: center;
    width: 100%;
/*    position: absolute;
    left: 0;
    bottom: 0;*/
}
